/* Reset and global styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 5%;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

.navbar-menu li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

.container{
    display: table;
    width: 100%;
}
.split-left-pane{
    display: table-cell;
    padding: 80px;
    width: 50%;
    background: #f9f9f9;
    position: static;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.left-pane-inner{
    height: 100%;
    position: static;
}

.split-center-pane{
    display: table-cell;
    padding-top: 80px;
    padding-left: 20px;
    height: 100%;
    width: 35%;
    position: static;
}
.center-pane-inner{
    height: 100%;
    position: fixed;
}

.split-right-pane{
    display: table-cell;
    height: 100%;
    width: 15%;
    position: static;

}
.right-pane-inner{
    height: 30%;
    width: 15%;
    position: fixed;
    bottom: 0;

}

.reset_button {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
}

th.th-checkbox {
    width: 7%;
}

th.th-name {
    width: 80%;
}

th.th-point {
    width: 13%;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

td.td-checkbox {
    text-align: center;
}

td.td-point {
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

.fr-label {
    position: relative;
    top: 3%;
    left: 5%;
    font-size: 24px;
}

.fr-input {
    position: relative;
    top: 3%;
    height: 40px;
    width: 60px;
    font-size: 24px;
    margin-left: 7%;
}

.calculate-button {
    position: relative;
    margin-top: 10%; 
    left: 20%;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-checkbox {
    cursor: pointer;
}

#info-score-display {
    display: static;
    flex-wrap: wrap;
}

.info-record {
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
}

.info-score {
    display: flex;
    justify-content: space-between;
}

.info {
    font-weight: bold;
    margin-bottom: 2px;
}

.score {
    font-weight: bold;
    margin-bottom: 2px;
    text-align: right;
}
